div.add-item {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  color: white;
  font-size: 180%;
  background: url("../img/add-item.gif") no-repeat center center/contain;
}

h1 {
  color: #2991ea;
}

.add-item input,
button.add-btn {
  width: 60%;
  padding: 1rem;
}

button.add-btn {
  background-color: #2991ea;
  color: white;
}

div.inputs-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
