footer {
  width:100vw;
  height: 10vh;
  background-color: black;
  border-top: 5px solid #FA1EF9;
  color: #2991EA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

@media (max-width:600px) {
  footer {
    font-size: 150%;
  }
}

/* linear-gradient(135deg, #2991EA 30%, #FA1EF9 70%); */