div.find {
  width:100vw;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 90%;
  height: 90%;
}

Unity {
  width: 90%;
  height: 90%;
}

button {
  text-decoration: none;
  width: 100%;
  background-color: black;
  color: #99E7FB;
}